/.DS_Store
/.ipynb_checkpoints
/.localized
/Captura de Pantalla 2022-10-22 a la(s) 13.08.39.png
/Captura de Pantalla 2022-10-24 a la(s) 22.12.23.png
/Captura de Pantalla 2022-10-27 a la(s) 11.54.56.png
/Captura de Pantalla 2022-11-06 a la(s) 23.11.27.png
/David
/Diagnostikare.pdf
/Doc1.pdf
/Ferias Salud.xlsx
/Login.feature
/MP_530040476.pdf
/Negocios
/RLA-221021-000367553.pdf
/Transfer money.feature